.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
.title {
  display: flex;
  flex-direction: column;
  font-size: 2em;
  align-items: flex-start;
}
.temp {
  font-size: 3em;
  display: flex;
}
.temp svg {
  margin-left: 10px;
}
.city {
  font-size: 1.6em;
}
.toggle {
  background-color: #FFFFFF29;
  border-radius: 15px;
  padding:10px;
}
