.weekly-weather {
  display: flex;
  flex-direction: row;

  width: 100%;
  overflow: auto;
  height: 100%;
  position: relative;
  gap: 20px;
  padding: 50px 15px 0 0;
}

.weekly-weather-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 15px;
  box-shadow: 1px 0px 0px white;
  gap: 20px;
  padding:10px;
  width:110px;
  height: 200px;
}
.svg {
  height: 32px;
  width: 32px;
}