.weekly-weather {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5%;
  margin-left: -2%;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.weekly-weather-item {
  display: flex;
  flex-direction: column;
  background-color: #aac0ff;
  border-radius: 15px;
  box-shadow: 1px 0px 0px white;
  gap: 20px;
  padding: 10%;
  margin: 5%;
}
